.*.aux
.fol.*
.hpc/
.stack-work/
*.agdai
*.glob
*.hi
*.o
*.thy~
*.vo
TAGS
apia.tix
dist
hpc/
model
notes/interactive/InteractiveFOT/FOTC/Program/ABP/ABP
notes/interactive/InteractiveFOT/FOTC/Program/ABP/ABP_HO
notes/interactive/InteractiveFOT/FOTC/Program/ABP/ABP_IO
notes/interactive/InteractiveFOT/FOTC/Program/ABP/Wouter/ABP
notes/interactive/InteractiveFOT/FOTC/Program/GCD/GCD
snapshot/
snapshot-fot/
src/utils/McCarthy91/MCR/MCR
src/utils/many-axioms/ManyAxioms
stack.yaml
stack.yaml.lock
